---
import BaseHead from '../components/seo/BaseHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import '../styles/global.css';
interface Props { title: string; description: string; image?: string; canonical?: string; noindex?: boolean; }
const { title, description, image, canonical, noindex } = Astro.props;
---
<!doctype html>
<html lang="fr">
  <head>
  <link rel="icon" type="image/png" href="/favicon.png" />
    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N59XNT8X');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EHTVL72LRY"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-EHTVL72LRY');
    </script>
    <BaseHead {title} {description} {image} {canonical} {noindex} />
    <slot name="head" />
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N59XNT8X"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <Header />
    <main><slot /></main>
    <Footer />
    <script is:inline defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon={`{"token":"9639d2620d9c47999f9498cf338a5330"}`}></script>
  </body>
</html>
